cmake_minimum_required(VERSION 3.16)
project(${TARGET_NAME} LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

find_package(GTest REQUIRED)

add_executable(${TARGET_NAME}
${SOURCES}
${HEADERS}
)

target_include_directories(${TARGET_NAME} PRIVATE
    ${CMAKE_CURRENT_SOURCE_DIR}
    ${CMAKE_CURRENT_SOURCE_DIR}/../..
)

target_link_libraries(${TARGET_NAME} PRIVATE
    GTest::gtest
    GTest::gmock
)

include(GoogleTest)
gtest_discover_tests(${TARGET_NAME})
